<mat-toolbar color="primary" class="navbar">
  <span *ngIf="authSvc.userData$ | async " color="primary" (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </span>
  &nbsp;
  &nbsp;
  <a routerLink="/">
    <span>{{appname}}</span>
  </a>
  <span class="fill-remaining-space"></span>
  <span class="fill-remaining-space"></span>
  <a (click)="onEnterAdmin()" routerLinkActive="active" *ngIf="authSvc.userData$ | async "><button mat-button>Admin</button></a>
  <a routerLink= "/home" routerLinkActive="active" *ngIf="authSvc.userData$ | async "><button mat-button>Listar</button></a>
  <a routerLink= "/about" routerLinkActive="active"><button mat-button>About</button></a>
  <a *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()" ><button mat-button>Logout</button></a>
 <ng-template #showLogin>
  <a routerLink= "/login" routerLinkActive="active"><button mat-button>Login</button></a>
 </ng-template>


</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sideNav [(opened)]="opened" mode="side">
      <mat-nav-list>
        <a mat-list-item (click)="onEnterAdmin()">
          <mat-icon>book</mat-icon>CoBiNET
        </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item routerLink="profile">
          <mat-icon>account_circle</mat-icon>Profile
        </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
