@import '../node_modules/ngx-owl-carousel-o/lib//styles/scss/owl.carousel.scss';
@import '../node_modules//ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fill-remaining-space{
  flex: 1 1 auto;
}
.active{
  border: 1px solid #f5f5f5;
}
.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.PesoMaximo {
  background: rgba(49, 10, 189, 0.803) !important;
}
.PesoActual {
  background: rgba(14, 45, 123, 0.803) !important;
}
.PesoBin {
  background: rgba(129, 10, 189, 0.803) !important;
}
mat-chip.mat-chip.mat-primary.mat-standard-chip{
  min-height: 1rem;
  padding: 19px;
}
