.container{
  margin-top: 25px;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: center;

  a{
    cursor: pointer;
    color: rgba(11, 11, 11, 0.911);
    text-decoration: none;
  }
  .post-card{
    background: rgba(97, 96, 96, 0.575);
    color: rgba(255, 255, 255, 0.872);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

    img {
      height: 200px;
    }

    p.content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .mat-chip.mat-standard-chip {
    color: rgba(255, 255, 255, 0.872);
  }
}
