<div class="container" *ngIf= "cobi$ | async as cobi; else loading " >
  <mat-card class="post-card" *ngFor="let cobi of cobi" >
      <mat-card-header>
          <mat-card-title>
            <a [routerLink]="['/cobi', cobi.id]" >
              {{cobi.material}}
            </a>
          </mat-card-title>
          <mat-card-subtitle>ID: {{cobi.id}}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage [src]="cobi.imagen">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip class="PesoBin">
            <p >W. Bin: {{cobi.peso_bin}} Kg</p>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip class="PesoMaximo">
            <p >Max W: {{cobi.peso_maximo}} Kg</p>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip class="PesoActual">
            <p >Act. W: {{cobi.peso_actual}} Kg</p>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
  </mat-card>
</div>

<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
