<!-- <app-toolbar></app-toolbar> -->
<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" />
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button color="primary" >Login</button>
    </form>
  </mat-card-content>
</mat-card>
