<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ubicacion">
</mat-form-field>
<div class="container-btn-new">
  <button mat-stroked-button (click)="onNewCobi()">
  <mat-icon>note_add</mat-icon>&nbsp; New CoBi
  </button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. CoBi </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="ubicacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicacion </th>
    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
  </ng-container>
  <!-- Imagen Column -->
  <ng-container matColumnDef="imagen">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
    <td mat-cell *matCellDef="let element"> <img [src]=[element.imagen] style="width: 80px; height: 80px;"> </td>
  </ng-container>
  <!-- Material Column -->
  <ng-container matColumnDef="material">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Material </th>
    <td mat-cell *matCellDef="let element"> {{element.material}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="peso_actual">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> P. Actual </th>
    <td mat-cell *matCellDef="let element"> {{element.peso_actual}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="peso_bin">
    <th mat-header-cell *matHeaderCellDef > P. Bin </th>
    <td mat-cell *matCellDef="let element"> {{element.peso_bin}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="peso_maximo">
    <th mat-header-cell *matHeaderCellDef> P. Maximo </th>
    <td mat-cell *matCellDef="let element"> {{element.peso_maximo}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
    <button mat-stroked-button color="accent" (click)="onEditBin(element)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-stroked-button color="warn" (click)="onDeleteBin(element)">
      <mat-icon>delete</mat-icon>
    </button>
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
