

<owl-carousel-o [options]="customOptions">
<ng-template carouselSlide><img src="../../../../assets/images/redcorpinit.jpg"></ng-template>
<ng-template carouselSlide><img src="../../../../assets/images/cobinet.jpg"></ng-template>
</owl-carousel-o>

