<div class="container" *ngIf="cobi$ | async as cobi; else loading ">
  <mat-card class="post-card" >
      <mat-card-header >
          <mat-card-title>
            <a>
              {{cobi.material}}
            </a>
          </mat-card-title>
          <mat-card-subtitle>ID: {{cobi.id}}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage class="align-center" src="https://m.media-amazon.com/images/I/612D8v8gpvL._SR500,500_.jpg">
      <mat-card-content>
          <p>Peso del Bin: {{cobi.peso_bin}}</p>
          <p>Peso Maximo Soportado: {{cobi.peso_maximo}}</p>
          <p>Peso Actual: {{cobi.peso_actual}}</p>
      </mat-card-content>
      <!-- <mat-card-actions align="start">
          <button mat-button (click)="onAction1">Action1</button>

      </mat-card-actions> -->
      <!-- <mat-card-footer>
          Footer
      </mat-card-footer> -->
  </mat-card>
</div>

<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
