<div class="new-post-container">
  <form [formGroup]="newCoBiForm" (ngSubmit)="addNewCoBi(newCoBiForm.value)">
    <mat-form-field>
      <mat-select placeholder="Material" formControlName="material">
        <mat-option value="LedVerde">Led Verde</mat-option>
        <mat-option value="Tornillo">Tornillo</mat-option>
        <mat-option value="Resorte">Resorte</mat-option>
        <mat-option value="Cover">Cover</mat-option>
        <mat-option value="Boton">Boton</mat-option>
        <mat-option value="Remache">Remache</mat-option>
        <mat-option value="LedRojo">Led Rojo</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Peso del Bin</mat-label>
      <input matInput placeholder="Peso CoBi:" formControlName="peso_bin" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Peso Maximo</mat-label>
      <input matInput placeholder="Peso Maximo:" formControlName="peso_maximo" type="number">
    </mat-form-field>
    <mat-form-field>
    <mat-select placeholder="Ubicacion" formControlName="ubicacion">
      <mat-option value="Panel#1">Panel#1</mat-option>
      <mat-option value="Panel#2">Panel#2</mat-option>
      <mat-option value="Panel#3">Panel#3</mat-option>
      <mat-option value="Panel#4">Panel#4</mat-option>
      <mat-option value="Panel#5">Panel#5</mat-option>
      <mat-option value="Panel#6">Panel#6</mat-option>
      <mat-option value="Panel#7">Panel#7</mat-option>
      <mat-option value="Panel#8">Panel#8</mat-option>
    </mat-select>
  </mat-form-field>
    <div class="container-input-file">
      <label class="custom-file">
        <input type="file" formControlName="imagen" (change)="handleImage($event)" >
        <mat-icon>cloud_upload</mat-icon>
        <span>CHOOSE IMAGE</span>
      </label>
    </div>
    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="Save" [mat-dialog-close]="true">
    </div>
  </form>
</div>
