.mat-card {
  background: rgba(187, 186, 186, 0.783);
  color: #000;
  align-content: center;
}
.mat-card-image{
   margin: 24px;
   align-content: center;

}
.card-about{
  background: #fff;
  color: #000;
  height: 100%;
}

