<div class="container">
  <mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>About CoBiNet</mat-card-title>
        <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->
<mat-card-content>
</mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Misión</mat-card-title>
    </mat-card-header>
    <img matCardImage src="https://concepto.de/wp-content/uploads/2013/05/mision.jpg" style="width: 70%; height: 50%;">
    <mat-card-content>
      <p>Proporcionar a nuestros clientes, venta y servicio de equipos de automatización industrial, así mismo, desarrollar <br> junto con ellos soluciones automatizadas, buscando permanentemente el bienestar de los clientes y el nuestro.
      </p>
    </mat-card-content>


</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Visión</mat-card-title>

    </mat-card-header>
    <img matCardImage src="https://concepto.de/wp-content/uploads/2014/08/mision-y-vision.jpg" style="width: 70%; height: 50%;">
    <mat-card-content>
      <p>
        Ser líder en automatización industrial, siendo el principal apoyo de nuestros clientes en la automatización, <br>a través de un equipo de trabajo eficiente, que logra sus metas y estar comprometidos con la calidad e innovación.
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button (click)="onAction1" style="background-color: rgba(134, 30, 220, 0.803);">Conocenos</button>

    </mat-card-actions>

</mat-card>


</div>
